.ant-btn {
  color: @color-primary;
  border-color: @color-primary;
  &:hover,
  &:active,
  &:focus {
    color: @color-primary;
    border-color: @color-primary;
  }
}

.anticon {
  &:before{
    
  }
  svg {
    display: none !important;
  }
}
