.header {
  width: 100%;
  height: @header-height;
  border-bottom: 1px solid #EEEEEE;
  .header__container {
    &:extend(.container);
    line-height: @header-height;
  }
  .header__logo {
    float: left;
    line-height: @header-height;
    img {
      display: block;
      margin-top: 18px;
    }
  }
  ul.header__menu {
    list-style: none;
    float: left;
    margin: 0 0 0 60px;
    li {
      display: inline-block;
      margin: 0;
      padding: 0 30px;
    }
  }
  .header__login {
    float: right;
    a {
      display: inline-block;
      padding: 0 20px;
      color: #333;
    }
  }
}
