/**
 * 首页样式
 */

.home_content {
  h1.home_content-title {
    display: block;
    font-size: 20px;
    color: #00EBCD;
    text-align: center;
    margin: 60px 0 40px 0
  }
  h2.home_content-subtitle {
    display: block;
    font-size: 20px;
    color: #262626;
  }
}

.home_problems {
  width: 59%;
  float: left;
  padding-right: 24px;
}

.home_storys {
  width: 40%;
  float: right;
}
