.my {
  .my_background {
    height: 250px;
    position: relative;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 15px;
    border-bottom: 1px solid #979797;
    overflow: hidden;
  }
  .my_background-avator {
    position: absolute;
    left: 0;
    top: 70px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    border: 1px solid #979797;
    img {
      width: 100%;
    }
  }
  .my_background-name {
    display: block;
    font-size: 16px;
    color: #282828;
    position: absolute;
    top: 82px;
    left: 100px;
  }
  .my_background-exp {
    font-size: 20px;
    color: @color-primary;
    position: absolute;
    top: 118px;
    left: 100px;
  }
  .my_background-code {
    position: absolute;
    left: 0;
    bottom: 28px;
    color: @color-font-base;
  }
  .my_background-setting {
    position: absolute;
    right: 0px;
    top: 28px;
  }
  .my_desc {
    position: absolute;
    left: 310px;
    top: 70px;
    text-align: left;
    h3 {
      font-size: 20px;
      color: @color-font-base;
      margin-bottom: 20px;
    }
  }

  .my_problems {
    margin-bottom: 100px;
    ul {
      list-style: none;
      margin: 0;
      display: block;
      padding: 0;
    }
    ul.my_problems-tab {
      padding: 25px 0;
      li {
        display: inline-block;
        font-size: 20px;
        color: #7c7c7c;
        margin-right: 24px;
        cursor: pointer;
        &.sel {
          color: @color-font-base;
        }
      }
    }
    ul.my_problems-list {
      li {
        position: relative;
        display: block;
        padding: 5px 0 5px 20px;
        a.link-primary {
          font-size: 14px;
        }
        &:before {
          position: absolute;
          left: 0;
          top: 12px;
          width: 10px;
          height: 10px;
          background: #ffee55;
          border-radius: 50%;
          content: '';
        }
        .status-bar {
          margin-left: 30px;
        }
      }
    }
  }
}

.my__edit {
  padding: 50px 0;
}
