.problem-detail {
  padding: 50px 0 10px 0;
  border-bottom: 1px solid #B7B7B7;
  .problem-detail__rate {
    font-size: 12px;
    color: #8D8D8D;
    margin-bottom: 5px;
  }
  .problem-detail__title {
    font-size: 20px;
    color: #282828;
    margin: 0;
  }
  .problem-detail__main {
    font-size: 16px;
    color: #262626;
    padding: 20px 0 20px 0;
    color: #666;
    p {
      margin: 20px 0;
    }
    img {
      margin: 20px 0;
    }
  }
}

.problem-solution {
  padding: 40px 0;
  .problem-solutio__not-have {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  .problem-solution__item {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
    .problem-solution__item-main {
      max-height: 60px;
      line-height: 20px;
      overflow: hidden;
    }
    .problem-solution__item-more {
      margin-top: 10px;
      text-align: center;
      a {
        color: @color-primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .problem-solution__item-bar {
      position: relative;
      height: 28px;
      a {
        color: #B9B9B9;
        position: absolute;
        bottom: 4px;
      }
      a.updata {
        left: 0;
        color: #7C7C7C;
      }
      a.discuss {
        right: 180px
      }
      a.vote {
        right: 80px
      }
    }
    .problem-solution__item-no-comment{
      text-align: center;
      padding: 10px 0;
    }
  }
  .problem-solution__item-all {
    .problem-solution__item-main {
      overflow: show;
      max-height: none;
    }
    .problem-solution__item-more {
      display: none;
    }
  }
}

.problem-detail__user {
  span {
    margin-right: 30px;
  }
  a {
    color: #262626;
    &:hover {
      text-decoration: underline;
    }
  }
}

.problem-add {
  h1 {
    margin-top: 20px;
  }
}
