.problem-detail {
  padding: 40px 0px 40px 0px;
  width: 700px;
  margin: auto;
  .problem-detail__content {
    h1 {
      font-size: 20px;
      color: #282828;
      margin-bottom: 20px;
    }
    .problem-detail__main {
      font-size: 16px;
      color: #262626;
      margin: 20px 0;
      color: #666;
      font-size: 16px;
      color: #262626;
      p {
        margin: 20px 0;
      }
      img {
        margin: 20px 0;
      }
    }
    .problem-detail__main-img {
      position: relative;
      img {
        max-width: 100%;
      }
    }
  }
}

.problem-detail__creater {
  padding-bottom: 8px;
  .problem-detail__tool {
    span {
      font-size: 14px;
      color: #B9B9B9;
      margin-right: 30px;
    }
    a {
      font-size: 14px;
      color: #262626;
      margin-right: 20px;
    }
  }
}

.problem-detail__footer {
  text-align: center;
  color: #ccc;
  padding: 40px 0 0 0;
  .link-primary {
    display: block;
    margin-bottom: 20px;
  }
}

.problem-add {
  h1 {
    margin-top: 30px;
  }
  input {
    border: none;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: 1px solid #ccc !important;
    font-size: 18px;
    height: 50px;
    padding: 10px;
  }
  textarea {
    border: none;
    box-shadow: none !important;
  }
}
